@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Georgia', serif;
  background-color: #4B2E0F; 
  color: #F7E7CE; 
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(139, 69, 19, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #D4AF37;
  border-radius: 10px;
}


a {
  transition: color 0.3s ease;
}

button:focus {
  outline: 3px solid #D4AF37;
  outline-offset: 2px;
}
